<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="text-center mt-3">
      <h2 class="mb-3">Forgot Password</h2>
      <form action="/auth/forgot" method="post">
        <label for="Email">Email</label>
        <input type="email" name="email" placeholder="email@example.com"/>
        <button class="btn-sm btn-primary" type="submit">Send OTP</button>
      </form>
    </div>
  </body>
</html>
