<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
</head>

<body>
    <form action="/auth/changePass" method="post">
        <label for="Email">Email</label>
        <input type="hidden" name="email" value=<%=email %>>

        <label for="OTP">OTP</label>
        <input type="text" name="OTP" />
        
        <label for="Enter New Password">New Password</label>
        <input type="password" name="password" />

        <label for="Confirm Password">Confirm Password</label>
        <input type="password" name="cpassword" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>