<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <title>Forgot Password</title>
</head>

<body>
    <form onsubmit="event.preventDefault(); validate(this);">
        <label for="Email">Email</label>
        <input type="hidden" name="email" value=<%=email%> />

        <label for="OTP">OTP</label>
        <input type="text" name="OTP" required />

        <label for="Enter New Password">New Password</label>
        <input type="password" name="password" required minlength="8" maxlength="15" />

        <label for="Confirm Password">Confirm Password</label>
        <input type="password" name="cpassword" required minlength="8" maxlength="15" />
        <button type="submit">Submit</button>
    </form>

    <script>
        async function validate(e) {
            try {
                let inputs = document.getElementsByTagName("input");

                const data = {
                    email: inputs[0],
                    OTP: inputs[1],
                    password: inputs[2],
                    cpassword: inputs[3],
                };

                if (inputs[2] == inputs[3]) {
                    const response = await fetch("/auth/changePass", {
                        method: "POST",
                        mode: "cors",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(data),
                    });

                    const json = await response.json;
                    console.log(json);
                } else {
                    alert("Passwords do not match!");
                }
            } catch (error) {
                console.log(error);
                alert("Failed to reset password!, internal server error");
            }
        }
    </script>
</body>

</html>