<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
</head>
<body>
    <h1>OTP input form</h1>

    <form onsubmit="event.preventDefault(); validate(this)">
        <input type="text" name="otp">
        <button type="submit">Send OTP</button>
    </form>

    <script>
        async function validate(e) {

            let otp=document.getElementsByTagName("input")[0].value;

            const response=await fetch("/auth/otp",{
                method:"POST",
                mode:"cors",
                headers:{'Content-Type':'application/json'},
                body:JSON.stringify({otp:otp})
            });

            if(response){
                const json=await response.json();
                console.log(json);

                window.location.href="/auth/login";
            }
            
        }
    </script>
</body>
</html>