<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>

<body>
    <form action="/notes/upload" method="post" enctype="multipart/form-data">
        <div>
            <input type="file"  name="uploadImage"/>
        </div>

        <div>
            <input type="submit" value="Upload">
        </div>
    </form>
    <img id="output" width="250" />	
    <script>
        function handleChange(e) {
            try {
                
                console.log(e.target.files[0]);

                var image = document.getElementById('output');
	            image.src = URL.createObjectURL(e.target.files[0]);
            } catch (error) {
                console.log(error);
            }
        }
    </script>
</body>


</html>